$fuentePrincipal: "Helvetica";
$rojito: #ff0000;

body {
    font-family: $fuentePrincipal;
}
h1 {
    font-family: $fuentePrincipal;

}
p {
    font-family: $fuentePrincipal;

}
.container{
    font-family: $fuentePrincipal;
    h2{
        color: $rojito;
    }
}
